/* approachStyles.css */

/* Example CSS for Approach.jsx */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 

  }


  
  /* Define other styles as needed */