/* Nav.css */
.top-nav {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0;
  color: #000000;
  text-align: center;
  z-index: 3000;
  display: flex;
  justify-content: space-around;
  /*justify-content: space-between; this fixes the movement between home and othre pages but will un-center the navbar */
  align-items: center;
  mix-blend-mode: screen;
  filter: invert(80%);
  font-family: 'Inter', 'sans-serif';
  letter-spacing: 2px;
 /* font-family: 'Inter', sans-serif;  Updated font-family */
  /* letter-spacing: 9.21px; /* Changed to tracking-[11.21px] * */
  transition: transform 0.3s ease;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
}

.top-nav ul li {
  font-size: 20px;
  margin-right: 90px; /* Adjust spacing between items */
}

.top-nav ul li:not(:last-child) {
  margin-right: 5px; /* Adjust spacing between items */
}

.top-nav ul li a:hover {
  background-color: #ffffff00;
  color: #fffcfc;
}

.top-nav ul li a {
  border: none !important;
}


@media (max-width: 1024px) {
  /* Styles for medium-sized screens */
  /* .top-nav ul li {
    top: 20px;
    width: 100%;
    padding: 0;
    font-size: 16px;
    padding-left: 25px;
    align-items: center;
  } */

  .top-nav ul {
    margin-left: 100px; /* Adjust spacing between items */
    
  }
  
  .top-nav ul li {
    font-size: 16px;
    letter-spacing: 0px; /* Decrease letter spacing */
    padding-left: 25px;
  }
  
  .top-nav ul li a:hover {
    background-color: #ffffff00;
    color: #fffcfc;
  }
  
  .top-nav ul li a {
    border: none !important;
    
  }
}

/* Styles for small screens */
@media (max-width: 767px) {


  .top-nav ul {
    margin-left: 150px; /* Adjust spacing between items */
    
  }
  
  .top-nav ul li {
    font-size: 10px;
    letter-spacing: 0px; /* Decrease letter spacing */
    padding-left: 15px;
  }
  
  .top-nav ul li a:hover {
    background-color: #ffffff00;
    color: #fffcfc;
  }
  
  .top-nav ul li a {
    border: none !important;
    
  }
}