/* Nav.css */
.top-nav {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0;
  color: #000000;
  text-align: center;
  z-index: 3000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: screen;
  filter: invert(80%);
  font-family: 'Inter', sans-serif; /* Updated font-family */
  letter-spacing: 11.21px; /* Changed to tracking-[11.21px] *
  transition: transform 0.3s ease;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav ul li {
  font-size: 20px;
  margin-right: 20px; /* Adjust spacing between items */
}

.top-nav ul li:not(:last-child) {
  margin-right: 25px; /* Adjust spacing between items */
}

.top-nav ul li a:hover {
  background-color: #ffffff00;
  color: #fffcfc;
}

.top-nav ul li a {
  border: none !important;
}


@media (max-width: 1024px) {
  /* Styles for medium-sized screens */
  .top-nav ul li {
    font-size: 12px; /* Font size for medium screens */
  }
}

/* Styles for small screens */
@media (max-width: 768px) {
  .top-nav ul {

   
    margin-left: 100px; /* Adjust spacing between items */
    
    
  }
  
  .top-nav ul li {
    font-size: 10px;
    letter-spacing: -1px; /* Decrease letter spacing */
   
  }
  

  
  .top-nav ul li a:hover {
    background-color: #ffffff00;
    color: #fffcfc;
  }
  
  .top-nav ul li a {
    border: none !important;
  }
}