/* Nav.css */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0%;
  color: #ff3c01;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  mix-blend-mode: difference;
  filter: invert(100%);
  font-Family: 'Tahoma' , 'sans-serif';

}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.top-nav ul li {
  font-size: 20px;
 
}

.top-nav ul li a:hover {
  background-color: #ffffff00;
  color: #787777;
}

.top-nav ul li a {
  border: none !important;
  

  
  
  
}

.top-nav ul li:not(:last-child) {
  margin-right: 200px;
}


